.KK-o3G {
text-align: center;
border-radius: 7px;
width: 18px;
height: 18px;
background-color: #ff6161;
/* border: 1px solid #fff; */
font-weight: 400;
color: #f0f0f0;
line-height: 16px;
font-size: 12px;
}