.card{
    background-color:#FFF;
    padding:20px;
    box-shadow: 0 0 10px #000000;
    transition: 1s;
    
}
.card:hover{
 transform: scale(1.3);
 background-color: rgb(181, 255, 96);
 z-index: 2;
}
